.container {
	background-color: #FFFFFF;
	width: 80%;
	margin: 0 auto;
	position: relative;
}
.container img {
	display: block;
	width: 100%;

}
header {
	background-color: #FFCC00;
	padding-top: 40px;
}
h1 {
	background-color: #3399FF;
	text-align: center;
	font-size: 28px;
}
h2 {
	font-size:22px;
	background-color: #3399FF;
}
body {
	background-color: #99FF00;
}
#letter-content p{
	-webkit-column-count: 3;
	column-count: 3;
}
footer {
	background-color: #202020;
	color: #000000;
	padding: 20px;
	text-align: center;
}